.search-control {
    position: absolute;
    background: #ffffff9c;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    border-radius: 0 0 1rem 1rem;
    padding: 0 0.5rem;

    &:hover {
        cursor: pointer;
    }
}

.search-box {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.loading-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: x-large
}

.fake-button {
    margin: 10px 0px 10px 4px;
    height: 40px;
    width: 3rem;
    border-radius: 4px;
    background: white;
    border: 1px solid #ccc;
    box-sizing: border-box;

    &:hover {
        background: hsl(0, 0%, 95%);
    }
}